.line-blue {
	color: cadetblue;
	background-color: lightgreen;
	border-radius: 10px;
	margin-bottom: 3px;
}

.line-red {
	color: chocolate;
	background-color: floralwhite;
	border-radius: 10px;
	margin-bottom: 3px;
	
}