<header class="bar bar-nav">
	<button ng-click="backApp()" class="btn pull-left">Back</button>
  <span ng-click="addAvaliation()" class="icon icon-plus pull-right"></span>
  <span ng-click="editClass()" class="icon icon-edit pull-right" style="margin-right:13px"></span>
  <h1 class="title">List of evaluations</h1>
</header>
<br><br>
<div class="content">
  
<ul class="table-view">
  <li class="table-view-cell" ng-repeat="aval in avalList | orderBy:'Data':reverse">
    <a href="#/avaliation/{{aval.AvaliationId}}" ng-show="aval.Grade != null &&  aval.Grade != ''" class="navigate-right line-blue">
      {{aval.Description}} <br> Weight: {{aval.Worth}} Grade:{{aval.Grade}}
    </a>
    <a href="#/avaliation/{{aval.AvaliationId}}" ng-show="aval.Grade == null || aval.Grade ==''" class="navigate-right line-red">
      {{aval.Description}} <br>  Date: {{aval.FormatData}}
    </a>


  </li>
</ul>
</div>



<div class="bar bar-standard bar-footer">
    You've got so far {{achivied}} of {{max}} points<br>
    There are still {{stillMissing}} points away of achiving the minimum required!
</div>



