<header class="bar bar-nav">
	<span ng-click="backApp()" class="icon icon-left-nav pull-left"></span>
      <span ng-click="addAvaliation()" class="icon icon-plus pull-right"></span>
  <h1 class="title">List of avaliations</h1>
</header>
<br><br>
<div class="content">
  <div class="card">
<ul class="table-view">
  <li class="table-view-cell" ng-repeat="aval in avalList">
    <a href="#/avaliation/{{aval.AvaliationId}}" data-transition="slide-in" class="navigate-right">
      {{aval.Description}} Weight: {{aval.Worth}} Grade:{{aval.Grade}}
    </a>
  </li>
</ul>
</div>
</div>


<div class="bar bar-standard bar-footer-secondary">
    You've got so far {{achivied}} of {{max}} points<br>
    There are still {{stillMissing}} points away of achiving the minimum required!
</div>



